{% load static %}
{% load active_link_tags %}

<header class="site-header" data-bg-image="" style="background-image: url(&quot;&quot;);">
    <div class="container">
        <div class="header-bar">
            <a href="{% url 'home' %}" class="branding">
                <img src="{{ info.logo.url }}" width="79px" alt="" class="logo">
                <div class="logo-type">
                    <h1 class="site-title">{{ info.titleSite }}</h1>
                    <small class="site-description">{{ info.description}}</small>
                </div>
            </a>

            <nav class="main-navigation">
                <button class="menu-toggle"><i class="fa fa-bars"></i></button>
                <ul class="menu">
                    <li class="home menu-item"><a href="{% url 'home' %}"><img
                            src="{% static 'home/images/home-icon.png' %}" alt="Home"></a></li>
                    <li class="menu-item"><a href="about.html">About</a></li>
                    <li class="menu-item"><a href="services.html">Services</a></li>
                    <li class="menu-item {% active_link 'ProductsList' 'current-menu-item' %} "><a href="{% url 'ProductsList' %}">product</a></li>
                    <li class="menu-item {% active_link 'contact' 'current-menu-item' %} "><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </nav>

            <div class="mobile-navigation">
                <ul class="menu">
                    <li class="home menu-item"><a href="{% url 'home' %}"><img src="images/home-icon.png" alt="Home"></a></li>
                    <li class="menu-item"><a href="about.html">About</a></li>
                    <li class="menu-item"><a href="services.html">Services</a></li>
                    <li class="menu-item current-menu-item"><a href="{% url 'ProductsList' %}">product </a></li>
                    <li class="menu-item"><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>