{% extends 'layout/base.html' %}
{% load static %}


<div class="page-head" data-bg-image="{% static 'home/images/page-head-3.jpg' %}" style="background-image: url(&quot;images/page-head-3.jpg&quot;);">
				<div class="container">
					<h2 class="page-title">Our Projects</h2>
					<small>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit consequuntur magni </small>
				</div>
			</div>
{% block content %}
<main class="main-content">
				<div class="fullwidth-block">
					<div class="container">
						<h2 class="section-title">Eiusmod tempor incididunt labore</h2>
						<p>Corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt culpa. omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>

						<p>perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</p>
					</div>
				</div>

				<div class="fullwidth-block">
					<div class="container">
						<div class="project-list">
                            {% for product in Products %}
							<div class="project">
								<div class="project-content">
									<figure class="project-image">

    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">

                                        <img src="{{ product.image.url }}" alt="Project">

                                    </figure>
									<h3 class="project-title">{{ product.title }}</h3>
									<p>{{ product.short_description|slice:":87" }}...</p>
									<a href="{{ product.get_absolute_url }}" class="button">Learn more</a>
								</div>
							</div>
{% endfor %}
						</div>
					</div>
				</div>


				<div class="fullwidth-block" data-bg-color="#edf2f4" style="background-color: rgb(237, 242, 244);">
					<div class="container">
						<div class="subscribe-form">
							<h2>Join our newsletter</h2>
							<form action="#">
								<input type="text" placeholder="Enter your email">
								<input type="submit" value="Subscribe">
							</form>
						</div>
					</div>
				</div>

			</main>
{% endblock %}

